In [1]:
import pandas as pd

In [45]:
location = pd.read_excel('Sample Location Metadata.xlsx')
data = pd.read_csv('2018-19 asco and weather data for modeling.csv', index_col=0)

In [26]:
location.head()

,Year,FieldID,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
0,2018,1810,NaN,Bean,Bean,Cranford,Alberta,Yes,Burkard,49.820100,-112.35300
1,2018,1804,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.709660,-111.44863
2,2018,1814,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,50.258590,-111.83616
3,2018,Potato08,NaN,Potato,Potato,Coaldale West,Alberta,Yes,Burkard,49.690971,-112.74578
4,2018,Potato10,NaN,Potato,Potato,Chin,Alberta,Yes,Burkard,49.764321,-112.45504

In [13]:
data.head()

,SamplerNo,Location.x,SamplerType,ExtractionGroup,qPCR_Plate,JDay,Date,SampleID,SsCtMean,SsCtSD,...,MinDP_1d,MeanSoilTemp,DiffMeanSoilT,MeanSoilT_1d,MaxSoilTemp,DiffMaxSoilT,MaxSoilT_1d,MinSoilTemp,DiffMinSoilT,MinSoilT_1d
1,01,1917,Burkard,NaN,Plate 09,189,2019-07-08,T1-189,160.0,0.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01,1917,Burkard,NaN,Plate 09,190,2019-07-09,T1-190,327.0,0.43,...,NaN,20.62917,NaN,NaN,27.1,NaN,NaN,13.7,NaN,NaN
3,01,1917,Burkard,NaN,Plate 09,191,2019-07-10,T1-191,380.0,0.17,...,6.9,21.70833,1.07917,20.62917,28.2,1.1,27.1,15.4,1.7,13.7
4,01,1917,Burkard,NaN,Plate 09,192,2019-07-11,T1-192,209.0,0.36,...,7.6,19.81667,-1.89167,21.70833,24.3,-3.9,28.2,15.3,-0.1,15.4
5,01,1917,Burkard,NaN,Plate 01,193,2019-07-12,T1-193,152.0,0.06,...,8.5,20.40833,0.59167,19.81667,25.7,1.4,24.3,14.5,-0.8,15.3

In [7]:
data[['Location.x', 'Location.y']].head(20)

   Location.x Location.y
0        1917        NaN
1        1917       1917
2        1917       1917
3        1917       1917
4        1917       1917
5        1917       1917
6        1917       1917
7        1917       1917
8        1917       1917
9        1917       1917
10       1917       1917
11       1917       1917
12       1917       1917
13       1917       1917
14       1917       1917
15       1917       1917
16       1917       1917
17       1917       1917
18       1917       1917
19       1917       1917

In [58]:
data.shape

(568, 87)

In [22]:
data.isnull().sum().sort_values(ascending=False).head(15)

ExtractionGroup    568
SsScaled           568
DiffMeanSoilT      333
DiffMaxSoilT       333
DiffMinSoilT       333
MeanSoilT_1d       331
MinSoilT_1d        331
MaxSoilT_1d        331
MaxSoilTemp        327
MinSoilTemp        327
MeanSoilTemp       327
Water.             309
qPCR_Plate         297
TtSD               297
SsCtSD             297
dtype: int64

In [14]:
data.columns

Index(['SamplerNo', 'Location.x', 'SamplerType', 'ExtractionGroup',
       'qPCR_Plate', 'JDay', 'Date', 'SampleID', 'SsCtMean', 'SsCtSD',
       'SsMean', 'logSsMean', 'Censored', 'SsSD', 'SsScaled', 'SsClean',
       'logSsClean', 'VolumeSampled', 'sporesPCM', 'logSPCM', 'TtCt', 'TtSD',
       'Water.', 'logSsMean_t1', 'Location.y', 'Year', 'MeanWetness',
       'DiffMeanWet', 'MeanWet_1d', 'MaxWetness', 'DiffMaxWet', 'MaxWet_1d',
       'MinWetness', 'DiffMinWet', 'MinWet_1d', 'MeanTemp', 'DiffMeanT',
       'MeanT_1d', 'MaxTemp', 'DiffMaxT', 'MaxT_1d', 'MinTemp', 'DiffMinT',
       'MinT_1d', 'MeanRH', 'DiffMeanRH', 'MeanRH_1d', 'MaxRH', 'DiffMaxRH',
       'MaxRH_1d', 'MinRH', 'DiffMinRH', 'MinRH_1d', 'DiffRH_0d', 'DiffRH_1d',
       'DiffRH_2d', 'MaxDiffRH_2h', 'MaxDiffRH_3h', 'MeanVPD', 'DiffMeanVPD',
       'MeanVPD_1d', 'MaxVPD', 'DiffMaxVPD', 'MaxVPD_1d', 'MinVPD',
       'DiffMinVPD', 'TotalPrecip', 'Precip_1d', 'RainYN', 'MaxRain',
       'MinRain', 'MeanWC', 'DiffMeanWC', 'MeanWC_1d', 'MaxWC', 'DiffMaxWC',
       'MaxWC_1d', 'MinWC', 'DiffMinWC', 'MinWC_1d', 'MeanDP', 'DiffMeanDP',
       'MeanDP_1d', 'MaxDP', 'DiffMaxDP', 'MaxDP_1d', 'MinDP', 'DiffMinDP',
       'MinDP_1d', 'MeanSoilTemp', 'DiffMeanSoilT', 'MeanSoilT_1d',
       'MaxSoilTemp', 'DiffMaxSoilT', 'MaxSoilT_1d', 'MinSoilTemp',
       'DiffMinSoilT', 'MinSoilT_1d'],
      dtype='object')

In [50]:
# drop unnecessary columns, or cols with > 70% NaN
to_drop = ['SamplerNo','SamplerType','qPCR_Plate','SampleID','VolumeSampled','sporesPCM','logSPCM', 'Censored', 'Location.y', 'ExtractionGroup','SsScaled']
data.drop(labels=to_drop, axis=1, inplace=True)

In [24]:
data.head()

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,MinDP_1d,MeanSoilTemp,DiffMeanSoilT,MeanSoilT_1d,MaxSoilTemp,DiffMaxSoilT,MaxSoilT_1d,MinSoilTemp,DiffMinSoilT,MinSoilT_1d
1,1917,189,2019-07-08,160.0,0.14,317.43,2.503014,29.84,317.43,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1917,190,2019-07-09,327.0,0.43,67.09,1.833083,17.18,67.09,1.83,...,NaN,20.62917,NaN,NaN,27.1,NaN,NaN,13.7,NaN,NaN
3,1917,191,2019-07-10,380.0,0.17,35.45,1.561698,3.95,0.00,0.00,...,6.9,21.70833,1.07917,20.62917,28.2,1.1,27.1,15.4,1.7,13.7
4,1917,192,2019-07-11,209.0,0.36,210.56,2.325434,46.42,210.56,2.33,...,7.6,19.81667,-1.89167,21.70833,24.3,-3.9,28.2,15.3,-0.1,15.4
5,1917,193,2019-07-12,152.0,0.06,313.94,2.498228,11.81,313.94,2.50,...,8.5,20.40833,0.59167,19.81667,25.7,1.4,24.3,14.5,-0.8,15.3

In [48]:
location['FieldID'] = location.FieldID.astype(str)

In [66]:
location2 = location.drop_duplicates(subset='FieldID')

In [68]:
# join weather table
data_location = data.merge(location2, how='left', left_on='Location.x', right_on='FieldID')

In [69]:
data_location.head()

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,FieldID,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
0,1917,189,2019-07-08,160.0,0.14,317.43,2.503014,29.84,317.43,2.50,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
1,1917,190,2019-07-09,327.0,0.43,67.09,1.833083,17.18,67.09,1.83,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
2,1917,191,2019-07-10,380.0,0.17,35.45,1.561698,3.95,0.00,0.00,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
3,1917,192,2019-07-11,209.0,0.36,210.56,2.325434,46.42,210.56,2.33,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
4,1917,193,2019-07-12,152.0,0.06,313.94,2.498228,11.81,313.94,2.50,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112

In [70]:
data_location.shape

(568, 98)

In [59]:
data_location.tail(20)

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,FieldID,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
598,Taber,221,2018-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
599,Taber,222,2018-08-10,NaN,NaN,5531.680,3.742936,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
600,Taber,223,2018-08-11,NaN,NaN,2404.280,3.381166,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
601,Taber,224,2018-08-12,NaN,NaN,3451.260,3.538103,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
602,Taber,225,2018-08-13,NaN,NaN,935.920,2.971703,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
603,Taber,226,2018-08-14,NaN,NaN,1970.790,3.294861,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
604,Taber,227,2018-08-15,NaN,NaN,8350.820,3.921781,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
605,Taber,228,2018-08-16,NaN,NaN,2897.505,3.462174,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
606,Taber,229,2018-08-17,NaN,NaN,3302.650,3.518994,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
607,Taber,230,2018-08-18,NaN,NaN,10300.645,4.012907,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
608,Taber,231,2018-08-19,NaN,NaN,861.725,2.935872,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
609,Taber,232,2018-08-20,NaN,NaN,875.725,2.942863,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
610,Taber,233,2018-08-21,NaN,NaN,9780.455,3.990403,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
611,Taber,234,2018-08-22,NaN,NaN,19136.130,4.281877,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
612,Taber,235,2018-08-23,NaN,NaN,11190.155,4.048875,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
613,Taber,236,2018-08-24,NaN,NaN,3306.850,3.519546,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
614,Taber,237,2018-08-25,NaN,NaN,16854.055,4.226730,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
615,Taber,238,2018-08-26,NaN,NaN,1646.950,3.216944,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
616,Taber,239,2018-08-27,NaN,NaN,2692.505,3.430318,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
617,Taber,240,2018-08-28,NaN,NaN,13539.785,4.131644,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218

In [60]:
len(location.FieldID.unique())

111

In [61]:
location.shape

(129, 11)

In [44]:
data['Location.x'].unique()

array(['1917', '1919', '1904', '1910', '1906', '1915', 'Cranford',
       'Vauxhall', 'Taber'], dtype=object)

In [56]:
data_location.FieldID.unique()

array(['1917', '1919', '1904', '1910', '1906', '1915', nan, 'Vauxhall',
       'Taber'], dtype=object)

In [67]:
location2.loc[location2.duplicated(subset='FieldID') == True].FieldID.unique()

array([], dtype=object)

In [71]:
data_location.to_csv('data_and_location.csv')